.input:focus {
    outline: none;   /*не было стандартной обводки*/
    boreder: 3px solid #7a1f78;
}

.superInput {
    margin: 10px;
    background: lightgrey;
    color:#2b3236;
}

.errorInput {
    margin: 10px;
    border: 2px solid darkred;
    background:lightgrey;
    color:  #2b3236
}

.error {
    color: darkred;
    height: 20px;
    margin-left: 10px;
}