.input:focus {
    outline: none;   /*не было стандартной обводки*/
    border: 2px solid #093386;
}

.superInput {
    margin: 10px;
    background: lightgrey;
    color:#2b3236;
}

.errorInput {
    margin: 10px;
    border: 2px solid darkred;
    background:lightgrey;
    color:  #2b3236
}

.error {
    color: darkred;
    margin-left: 10px;
}
.errorBorderSize {
    height: 18px;
}