@keyframes blink {   /* анимация */
    0% {
        left: -130%
    }
    100% {
        left: 130%
    }
}

.default {
    background:goldenrod;
    color: #2b3236;
    outline: none;
}

.red {
    background: indianred;
}


/* CSS */
.button {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 10em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-weight: 700;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    touch-action: manipulation;
    font-size: 15px;
    padding: 8px 20px;
    margin: 5px;
    width: 100px;
}

.button:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.button:active {
    transform: scale(1.025);
}

.button:disabled {
    color: #0fad57;
    cursor: auto;
    box-shadow: #9fcc44 0 -6px 8px inset;
    background-color: #d0fcdf;
    transform: none;
}

.button:disabled::after {
    z-index: -1;
}

.button:disabled::before {
    z-index: -1;
}

/*
.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.button::after {
    display: block;
    content: '';
    position: absolute;
    left: -130%;
    top:0;
    height: 100%;
    width: 20%;
    transform: skew(45deg);
    background-color: white;
    opacity: 0.7;
    z-index: 14;
}

.button:hover::after {
    animation: blink 0.35s ease;
}

.button:hover::before {
    display: block;
    content: '';
    position: absolute;
    left: -100vw;
    top: 0;
    height: 100vh;
    width: 300vh;
    background-color: white;
    opacity: 0.2;
    z-index: 7;
}

.button:focus{
    outline: #cce4ff solid 1px;
}

.button:active{
    background: aquamarine;
}

.button:disabled{
    color: #2b3236;
    cursor: auto;
}

.button:disabled::after{
    z-index: -1;
}

.button:disabled::before{
    z-index: -1;
}*/
